{% extends 'back.html.twig' %}

{% block title %}Edit Finance{% endblock %}

{% block body %}
   <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Modifier un Bilan Financiére</h4>
                    <div class="table-responsive">
                      <table class="table">
   
  {% form_theme form 'bootstrap_4_layout.html.twig' %}

                                   {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

    
    {{ form_widget(form) }}

{{ form_end(form) }}

    <a href="{{ path('finance_index') }}">les liste des Bilans Financiére</a>

    {{ include('finance/_delete_form.html.twig') }}
     </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}
