{% extends 'back.html.twig' %}

{% block title %}Reponse index{% endblock %}

{% block body %}
   <div class="row ">
     <a class="btn create-new-button" style=" background-color: #8064A2 !important;"href="{{path('Trieasc1') }}">Trier par Réponse en ordre décroissant</a>
     <a class="btn create-new-button" style=" background-color: #8064A2 !important;"href="{{path('Triedsc2') }}">Trier par Réponse en ordre décroissant</a>

              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Liste des Réponses</h4>
                    <div class="table-responsive">
                      <table class="table">
    
        <div class="col-md-6 mb-5 mb-md-0" style="margin: 0 auto;" >
                

     <table class="table table table-bordered table-striped table-primary  table-hover "> 
        <thead>
            <tr>
                <th>Id reponse</th>
                <th>username </th>
                  <th>la reclamation</th>
                  <th>réponse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reponse in reponses %}
            <tr>
                <td>{{ reponse.id }}</td>
                <td>{{ reponse.reclamation.username.nom }}</td>
                 <td>{{ reponse.reclamation.msg }}</td>
                <td>{{ reponse.rep }}</td>
               
                
               

                <td>
                    <a href="{{ path('reponse_show_back', {'id': reponse.reclamation.id}) }}">Afficher</a>
                    <a href="{{ path('reponse_edit_back', {'id': reponse.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">0 reponse</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reponse_new_back') }}">Répondre a une reclamation</a>
    </div>
       </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}
