{% extends 'base.html.twig' %}

{% block title %}Evenement {% endblock %}

{% block body %}
<style type="text/css">
        {
            font-family: Candara, Arial, sans-serif;
        }
         h1{
            font-family: Candara, Arial, sans-serif;
            color:blue;
            position: initial;
       
        tfoot tr td{
            font-weight: bold;
            font-size: 20px;
        }
        .gray {
            background-color: lightgreen;
        }
    </style>
    <style>
        table, td, th {
            border: 2px solid;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            font-size: 12px;
        }
    </style>
<section id="user" class="user">
    <br>
    <br>
    <br>
    <div class="content-wrapper">
    <h1 style="text-align:center;text-transform: uppercase;">Evenement </h1>
   
    <table class="table" style="width:500 px; background-color: rgb(153,102,153);">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomEvenement</th>
                <th>Description</th>
                <th>NombreDeParticipants</th>
                <th>QrCode</th>
                <th>Billet</th>
                <th>DateDeEvenement</th>
                <th>longitude</th>
                <th>latitude</th>
                
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.id }}</td>
                <td>{{ evenement.NomEvenement }}</td>
                <td>{{ evenement.Description }}</td>
                <td>{{ evenement.NombreDeParticipants }}</td>
                <td><img src="{{ 'Uploads/image/' ~evenement.QrCode }} "style="width:50px"></td>
                <td>{{ evenement.Billet }}</td>
                <td>{{ evenement.DateDeEvenement ? evenement.DateDeEvenement|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.longitude }}</td>
                <td>{{ evenement.latitude }}</td>
            
            </tr>
       
            
        {% endfor %}
        </tbody>
    </table>

</div>
</section><!-- End Contact Section -->
{% endblock %}
