{% extends 'front.office.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
    <h1>Evenement</h1>

    <table class="table">
        <tbody>
          
           
            <tr>
                <th>longitude</th>
                <td>{{ evenement.longitude }}</td>
            </tr>
            <tr>
                <th>latitude</th>
                <td>{{ evenement.latitude }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('evenement_index') }}">Retourner vers la liste des évènements</a>
   
    <li style="width:450px;height : 450px; "><iframe src='https://www.google.com/maps?q=
 {{evenement.longitude}} , {{evenement.latitude}} &hl=es;z=14&output=embed' style="width: 100%; height:100%; align="center;" ></iframe></li>

</div>
   
    
{% endblock %}
