<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>{% block title %} Visual Arts {% endblock %}</title>

    <!-- Favicon -->
    <link rel="icon" href="{{asset('front-office/img/core-img/favicon.png')}}">
{% block css %} 
    <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">

    <!-- Stylesheet -->
        <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">

    <link rel="stylesheet" href="{{asset('front-office/style.css')}}">
{% endblock %}
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->
   
    <!-- Top Search Form Area -->
    <div class="top-search-area">
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <!-- Close -->
                        <button type="button" class="btn close-btn" data-dismiss="modal"><i class="ti-close"></i></button>
                        <!-- Form -->
                        <form action="index.html" method="post">
                            <input type="search" name="top-search-bar" class="form-control" placeholder="Search and hit enter...">
                            <button type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Area Start -->
    <header class="header-area">
        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between" id="alimeNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="./index.html"><img src="{{asset('front-office/img/core-img/logo.png')}}" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">
                            <!-- Menu Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul id="nav">
                                    <li class="active"><a href="/front-office/index.html">Acceuil</a></li>
                                    <li><a href="/front-office/#">Réclamation</a>
                                        <ul class="dropdown">
                                       <li><a href="{{path('reclamation_new')}}">Ajouter Reclamation</a></li>
                                    <li><a href="{{path('reclamation_index')}}">Mes Reclamations</a></li>
                                    <li><a href="{{path('calender_new')}}">Ajouter un plan</a></li>
                                    <li><a href="{{path('full')}}">calender</a></li>
                                                
                                        </ul>
                                    </li>
                                    <li><a href="/front-office/#">Réservation</a>
                                        <ul class="dropdown">
                                            <li><a href="{{path('reservation_index')}}">- Réservation</a></li>
                                            <li><a href="{{path('dons_index')}}">- Dons</a></li>
                                            <li> <a href="{{path('visite_index')}}">- Visite</a></li>                                              
                                        </ul>
                                    </li>
                                    <li><a href="#">Evènement</a>
                                        <ul class="dropdown">
                                            <li><a href="{{ path('evenement_index1')}}">- Evènement</a></li>
                                            <li><a href="{{ path('collaborateur_index1')}}">- Collaborateur</a></li>
                                            <li><a href="{{ path('homepage')}}">- RechercheQR</a></li>                                               
                                        </ul>
                                    </li>
                                    <li><a href="/front-office/#">Blog</a>
                                        <ul class="dropdown">
                                            <li><a href="/front-office/blog.html">- Commentaire</a></li>
                                            <li><a href="/front-office/about.html">- Avis</a></li>                                            
                                        </ul>
                                    </li>
                                    
                                    <li><a href="/front-office/#">Bout</a>
                                        <ul class="dropdown">
                                            <li><a href="/front-office/blog.html">- Produit</a></li>
                                            <li><a href="/front-office/about1.html">- Commande</a></li>                                            
                                        </ul>
                                    </li>
                                    <li><a href="/front-office/#">Login</a>
                                        <ul class="dropdown">
                                            <li><a href="{{ path('login1')}}">- Se connecter</a></li>
                                            <li><a href="{{ path('user_newfront') }}">- créer un compteS</a></li>                                            
                                        </ul>
                                    </li>
                                    <li><a href="/front-office/contact.html">Contact</a></li>
                                    
                                </ul>

                                <!-- Search Icon -->
                                
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->


    
    <!-- Welcome Area Start -->
    <section class="welcome-area">
        <div class="welcome-slides owl-carousel">
            <!-- Single Slide -->
            <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url({{asset('front-office/img/bg-img/image1.jpg')}});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-lg-8 col-xl-6">
                            <div class="welcome-text">
                                <h2 data-animation="bounceInDown" data-delay="900ms">Hello <br>We Are Visual Arts</h2>
                                <p data-animation="bounceInDown" data-delay="500ms">I photograph very instinctively. I see how it is taken like that. I do not follow certain styles, philosophies or teachers.</p>
                                <div class="hero-btn-group" data-animation="bounceInDown" data-delay="100ms">
                                    <a href="#" class="btn alime-btn mb-3 mb-sm-0 mr-4">Get a Quote</a>
                                    <a class="hero-mail-contact" href="mailto:hello.alime@gmail.com">hello.alime@gmail.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Slide -->
            <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url({{asset('front-office/img/bg-img/image4.jpg')}});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-lg-8 col-xl-6">
                            <div class="welcome-text">
                                <h2 data-animation="bounceInUp" data-delay="100ms">Hello <br>We Are Visual Arts</h2>
                                <p data-animation="bounceInUp" data-delay="500ms">I photograph very instinctively. I see how it is taken like that. I do not follow certain styles, philosophies or teachers.</p>
                                <div class="hero-btn-group" data-animation="bounceInUp" data-delay="900ms">
                                    <a href="#" class="btn alime-btn mb-3 mb-sm-0 mr-4">Get a Quote</a>
                                    <a class="hero-mail-contact" href="mailto:hello.alime@gmail.com">hello.alime@gmail.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Welcome Area End -->
    {% block body %}
    <!-- Gallery Area Start -->
    <div class="alime-portfolio-area section-padding-80 clearfix">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Projects Menu -->
                    <div class="alime-projects-menu">
                        <div class="portfolio-menu text-center">
                            <button class="btn active" data-filter="*">All</button>
                            <button class="btn" data-filter=".human">Human</button>
                            <button class="btn" data-filter=".nature">Nature</button>
                            <button class="btn" data-filter=".country">Country</button>
                            <button class="btn" data-filter=".video">Video</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row alime-portfolio">
                 <!-- Single Gallery Item -->
                <div class="col-12 col-sm-6 col-lg-3 single_gallery_item nature mb-30 wow fadeInUp" data-wow-delay="100ms">
                    <div class="single-portfolio-content">
                        <img src="{{asset('front-office/img/bg-img/imgg.jpg')}}" alt="">
                        <div class="hover-content">
                            <a href="{{asset('front-office/img/bg-img/imgg.jpg')}}" class="portfolio-img">+</a>
                        </div>
                    </div>
                </div>

                <!-- Single Gallery Item -->
                <div class="col-12 col-sm-6 col-lg-3 single_gallery_item video human mb-30 wow fadeInUp" data-wow-delay="300ms">
                    <div class="single-portfolio-content">
                        <img src="{{asset('front-office/img/bg-img/img4.jpg')}}" alt="">
                        <div class="hover-content">
                            <a href="img/bg-img/img4.jpg" class="portfolio-img">+</a>
                        </div>
                    </div>
                </div>

                <!-- Single Gallery Item -->
                <div class="col-12 col-sm-6 col-lg-3 single_gallery_item country mb-30 wow fadeInUp" data-wow-delay="500ms">
                    <div class="single-portfolio-content">
                        <img src="{{asset('front-office/img/bg-img/img5.jpg')}}" alt="">
                        <div class="hover-content">
                            <a href="{{asset('front-office/img/bg-img/img5.jpg')}}" class="portfolio-img">+</a>
                        </div>
                    </div>
                </div>

                <!-- Single Gallery Item -->
                <div class="col-12 col-sm-6 col-lg-3 single_gallery_item human mb-30 wow fadeInUp" data-wow-delay="700ms">
                    <div class="single-portfolio-content">
                        <img src="{{asset('front-office/img/bg-img/img6.jpg')}}" alt="">
                        <div class="hover-content">
                            <a href="{{asset('front-office/img/bg-img/img6.jpg')}}" class="portfolio-img">+</a>
                        </div>
                    </div>
                </div>

                <!-- Single Gallery Item -->
                <div class="col-12 col-sm-6 col-lg-3 single_gallery_item nature mb-30 wow fadeInUp" data-wow-delay="100ms">
                    <div class="single-portfolio-content">
                        <img src="{{asset('front-office/img/bg-img/img7.jpg')}}" alt="">
                        <div class="hover-content">
                            <a href="{{asset('front-office/img/bg-img/img7.jpg')}}" class="portfolio-img">+</a>
                        </div>
                    </div>
                </div>

                <!-- Single Gallery Item -->
                <div class="col-12 col-sm-6 col-lg-3 single_gallery_item video country mb-30 wow fadeInUp" data-wow-delay="300ms">
                    <div class="single-portfolio-content">
                        <img src="{{asset('front-office/img/bg-img/img8.jpg')}}" alt="">
                        <div class="hover-content">
                            <a href="{{asset('front-office/img/bg-img/img8.jpg')}}}" class="portfolio-img">+</a>
                        </div>
                    </div>
                </div>

                <!-- Single Gallery Item -->
                <div class="col-12 col-sm-6 col-lg-3 single_gallery_item human mb-30 wow fadeInUp" data-wow-delay="500ms">
                    <div class="single-portfolio-content">
                        <img src="{{asset('front-office/img/bg-img/img10.jpg')}}" alt="">
                        <div class="hover-content">
                            <a href="{{asset('front-office/img/bg-img/img10.jpg')}}" class="portfolio-img">+</a>
                        </div>
                    </div>
                </div>

                <!-- Single Gallery Item -->
                <div class="col-12 col-sm-6 col-lg-3 single_gallery_item nature mb-30 wow fadeInUp" data-wow-delay="700ms">
                    <div class="single-portfolio-content">
                        <img src="{{asset('front-office/img/bg-img/img9.jpg')}}" alt="">
                        <div class="hover-content">
                            <a href="{{asset('front-office/img/bg-img/img9.jpg')}}" class="portfolio-img">+</a>
                        </div>
                    </div>
                </div>

                <!-- Single Gallery Item -->
                <div class="col-12 col-sm-6 col-lg-6 single_gallery_item video country mb-30 wow fadeInUp" data-wow-delay="100ms">
                    <div class="single-portfolio-content">
                        <img src="{{asset('front-office/img/bg-img/img10.jpg')}}" alt="">
                        <div class="hover-content">
                            <a href="{{asset('front-office/img/bg-img/img10.jpg')}}" class="portfolio-img">+</a>
                        </div>
                    </div>
                </div>

                <!-- Single Gallery Item -->
                <div class="col-12 col-sm-6 col-lg-3 single_gallery_item human mb-30 wow fadeInUp" data-wow-delay="300ms">
                    <div class="single-portfolio-content">
                        <img src="{{asset('front-office/img/bg-img/img11.jpg')}}" alt="">
                        <div class="hover-content">
                            <a href="{{asset('front-office/img/bg-img/img11.jpg')}}" class="portfolio-img">+</a>
                        </div>
                    </div>
                </div>

                <!-- Single Gallery Item -->
                <div class="col-12 col-sm-6 col-lg-3 single_gallery_item country mb-30 wow fadeInUp" data-wow-delay="500ms">
                    <div class="single-portfolio-content">
                        <img src="{{asset('front-office/img/bg-img/img5.jpg')}}" alt="">
                        <div class="hover-content">
                            <a href="{{asset('front-office/img/bg-img/img5.jpg')}}" class="portfolio-img">+</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center wow fadeInUp" data-wow-delay="700ms">
                    <a href="#" class="btn alime-btn btn-2 mt-15">View More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery Area End -->
{% endblock %}
    <!-- Follow Area Start -->
    <section class="follow-area clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Follow Instagram</h2>
                        <p>@Visual Arts</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Feed Area -->
        <div class="instragram-feed-area owl-carousel">
            <!-- Single Instagram Item -->
            <div class="single-instagram-item">
                <img src="{{asset('front-office/img/bg-img/img11.jpg')}}" alt="">
                <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                    <a href="#">
                        <i class="ti-instagram" aria-hidden="true"></i>
                        <span>Visual Arts</span>
                    </a>
                </div>
            </div>
            <!-- Single Instagram Item -->
            <div class="single-instagram-item">
                <img src="{{asset('front-office/img/bg-img/img12.jpg')}}" alt="">
                <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                    <a href="#">
                        <i class="ti-instagram" aria-hidden="true"></i>
                        <span>Visual Arts</span>
                    </a>
                </div>
            </div>
            <!-- Single Instagram Item -->
            <div class="single-instagram-item">
                <img src="{{asset('front-office/img/bg-img/img13.jpg')}}" alt="">
                <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                    <a href="#">
                        <i class="ti-instagram" aria-hidden="true"></i>
                        <span>Visual Arts</span>
                    </a>
                </div>
            </div>
            <!-- Single Instagram Item -->
            <div class="single-instagram-item">
                <img src="{{asset('front-office/img/bg-img/img14.jpg')}}" alt="">
                <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                    <a href="#">
                        <i class="ti-instagram" aria-hidden="true"></i>
                        <span>Visual Arts</span>
                    </a>
                </div>
            </div>
            <!-- Single Instagram Item -->
            <div class="single-instagram-item">
                <img src="{{asset('front-office/img/bg-img/img15.jpg')}}" alt="">
                <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                    <a href="#">
                        <i class="ti-instagram" aria-hidden="true"></i>
                        <span>Visual Arts</span>
                    </a>
                </div>
            </div>
            <!-- Single Instagram Item -->
            <div class="single-instagram-item">
                <img src="{{asset('front-office/img/bg-img/img16.jpg')}}" alt="">
                <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                    <a href="#">
                        <i class="ti-instagram" aria-hidden="true"></i>
                        <span>Visual Arts </span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Follow Area End -->

    <!-- Footer Area Start -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-content d-flex align-items-center justify-content-between">
                       
                        <!-- Footer Logo -->
                        <div class="footer-logo">
                            <a href="#"><img src="{{asset('front-office/img/core-img/logo2.png')}}" alt=""></a>
                        </div>
                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="#"><i class="ti-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="ti-twitter-alt" aria-hidden="true"></i></a>
                            <a href="#"><i class="ti-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="ti-pinterest" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->
{% block js  %}
    <!-- **** All JS Files ***** -->
    <!-- jQuery 2.2.4 -->
<script src="https://code.responsivevoice.org/responsivevoice.js?key=qB7aQLES"></script>

       
        <script src="//code.jquery.com/jquery.js"></script>

      <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    <script src="{{asset('front-office/js/jquery.min.js')}}"></script>
    <!-- Popper -->
    <script src="{{asset('front-office/js/popper.min.js')}}"></script>
    <!-- Bootstrap -->
    <script src="{{asset('front-office/js/bootstrap.min.js')}}"></script>
    <!-- All Plugins -->
    <script src="{{asset('front-office/js/alime.bundle.js')}}"></script>
    <!-- Active -->
    <script src="{{asset('front-office/js/default-assets/active.js')}}"></script>

    {% endblock %}


</body>

</html>