{% extends 'base.html.twig' %}

{% block title %}Reclamation2 index{% endblock %}

{% block body %}
    <h1>Reclamation2 index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation2 in reclamation2s %}
            <tr>
                <td>{{ reclamation2.id }}</td>
                <td>{{ reclamation2.type }}</td>
                <td>{{ reclamation2.description }}</td>
                <td>
                    <a href="{{ path('reclamation2_show', {'id': reclamation2.id}) }}">show</a>
                    <a href="{{ path('reclamation2_edit', {'id': reclamation2.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reclamation2_new') }}">Create new</a>
{% endblock %}
