{% extends 'front.office.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
 <div class="container">
<section id="user" class="user">
    
        <div class="content-wrapper">
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.Nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.Prenom }}</td>
            </tr>
            <tr>
                <th>CIN</th>
                <td>{{ user.CIN }}</td>
            </tr>
             <tr>
                <th>Password</th>
                <td>{{ user.Password }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ user.Role }}</td>
            </tr>
            <tr>
                <th>Date naissance</th>
                <td>{{ user.datenaissance|date('Y-m-d')}}</td>
            </tr>
            <tr>
                <th>Access</th>
                <td>{{ user.Access }}</td>
               
            </tr>
            <tr>
                <th>image</th>
                <td><img src="{{ asset('Uploads/image/' ~user.image) }}"style="width: 300px" style="height:300px"></td>            
            </tr>
        </tbody>
    </table>

     <a href="{{ path('user_editfront', {'id': user.id}) }}">edit</a>
     <a href="{{ path('user_showpdf', {'id': user.id}) }}">pdf</a>
   

    {{ include('user/_delete_formfront.html.twig') }}
    </div>
</section><!-- End Contact Section -->
</div>
{% endblock %}
